.advantages {
    padding: 70px 0 65px 0;
    background-color: #F6F6F6;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		margin-top: 60px;
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items:center;
		min-width: 238px;
	}
	&__subtitle {
		margin-top: 35px;
		font-weight: 700;
		font-size: 18px;
		color: #0D0D0D;
	}
	&__descr {
		max-width: 259px;
		margin-top: 20px;
		font-weight: 300;
		font-size: 14px;
		line-height: 18px;
		text-align: center;
		a {
			color: #FF0000;
			text-decoration: underline;
			@include MuseoSansCyrl300;
		}
	}
.title {
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	text-align: center;
	}

}