@import 'base/variables';
@import 'block/promo';
@import 'block/header';
@import 'block/buttons';
@import 'block/advantages';
@import 'block/media';
@import 'base/mixins';
* {
	font-family: 'MuseoModerno';
}
 
.container {
	max-width: 950px;
	margin: 0 auto;
}

